# Ignore node_modules in all subdirectories
**/node_modules/
**/package-lock.json

# # Ignore environment files
# **/.env

# Ignore macOS system files
.DS_Store

# Ignore build outputs
**/dist/
**/coverage/
